#urlBar {
  display: flex;
  align-items: center;
  padding: 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.searchBar {
  min-width: 10vw;
  height: 37px;
  width: calc(80vw + 20%);
  margin: 0 17px;
  padding-left: 35px;
  padding-right: 20px;
  margin-right: 10px;
  font-size: 14px;
}

.search {
  position: absolute;
  left: 141px;
  pointer-events: none;
}

button {
  display: flex;
  float: left;
  margin-right: 3px;
  height: 20px;
  width: 10px;
}

iframe {
  border: none;
  height: calc(100vh - 3.2em);
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.2s ease-out;
}

.iframe-container {
  margin-top: 10px;
}

.iframe-container iframe:not(#siteurl) {
  display: none;
}

#siteurl {
  display: block;
}